<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>707340629951-pgnnd0qc7b9li2f75jg7f5mik7188r3d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.707340629951-pgnnd0qc7b9li2f75jg7f5mik7188r3d</string>
	<key>API_KEY</key>
	<string>AIzaSyBLkvmmbHVtiaC4Vqmze-Xi64mcWsRR9_w</string>
	<key>GCM_SENDER_ID</key>
	<string>707340629951</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aravindakr95.nibm-events</string>
	<key>PROJECT_ID</key>
	<string>ios-tutorials-be114</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-tutorials-be114.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:707340629951:ios:feba93b4d9c461f924930a</string>
	<key>DATABASE_URL</key>
	<string>https://ios-tutorials-be114.firebaseio.com</string>
</dict>
</plist>